@model DailyReporterPro.Models.DashboardsViewModel

<!-- left mav menu -->
<div id="leftNavContainer" class="col-md-2">

  <!-- create dashboard navigation menu with server-side code in initial request for dashboards controller -->
  <div class="leftNavSection">
    <div class="leftNavSectionHeader">
      <div class="leftNavIcon fa fa-bar-chart"></div>
      <div class="leftNavTitle leftNavItem">Dashboards</div>
    </div>
    <ul id="reports" class="leftNavMenu leftNavItem">
      @foreach (var dashboard in Model.Dashboards) {
        var dashboardClass = Request.QueryString["dashboardId"] == dashboard.Id ? "activeDashboard" : "";
        <li class="@dashboardClass">
          @Html.ActionLink(dashboard.DisplayName, "Index", new { dashboardId = dashboard.Id })
        </li>
      }
    </ul>
  </div>

  <div id="report-loading-message" hidden="hidden">
    <i class="fa fa-spinner fa-spin"></i>&nbsp;
    <span>Loading dashboard...</span>
  </div>

</div>


<div id="mainView" class="col-md-10">

  <div id="dashboardContainer" ></div>

  @if (Model.CurrentDashboard != null) {
    <script>
      var dashboardId = "@Model.CurrentDashboard.EmbedConfig.Id";
      var embedUrl = "@Html.Raw(Model.CurrentDashboard.EmbedConfig.EmbedUrl)";
      var accessToken = "@Model.CurrentDashboard.EmbedConfig.EmbedToken.Token";
      var dashboardContainer = document.getElementById('dashboardContainer');
      // call utility function in App.js
      PowerBIEmbedManager.embedDashboard(dashboardId, embedUrl, accessToken, dashboardContainer);
    </script>
  }

</div>

